<h1>Showing article details</h1>

<p>Article Title: <strong><%= @article.title %></strong></p>
<p>Article Description: <strong><%= @article.description %></strong></p>


<%= link_to 'Edit', edit_article_path(@article) %> | 
<%= button_to 'Delete', article_path(@article), method: :delete, data:{turbo_confirm: 'Are you sure?'}%>
<%= link_to 'Return to articles listing', articles_path(@article)%> 

